
    
<%- include('./partials/header') %>
    <h1 class="head">Top Books</h1>
    <article>
        <% for(let book of books){ %>
            <div class="container"> 
                <h1><%= book.id %></h1>
                <h2>Title: <%= book.title %></h2>
                <p>Book: <%= book.genre %></p>
                <p>Units: <%= book.units %></p>
                <p><a href="/books/<%= book.id %>">Show</a></p>
                <P>
                    <form  action="/books/<%= book.id %>?_method=DELETE" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </P>
            </div>
           
       <% } %>
            
    </article>
    <p class="new"><a href="/books/new">New Book</a></p>
<%- include('./partials/footer') %>
